{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
<h1><span style="text-decoration: underline;">Meet Django</span></h1>
<p><span style="color: #ff0000;"><em><strong>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It&rsquo;s free and open source.</strong></em></span></p>
<dl class="list-features">
<dt><span style="color: #ff0000;"><em><strong>Ridiculously fast.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Django was designed to help developers take applications from concept to completion as quickly as possible.</strong></em></span></p>
</dd>
<dt><span style="color: #ff0000;"><em><strong>Reassuringly secure.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Django takes security seriously and helps developers avoid many common security mistakes.</strong></em></span></p>
</dd>
<dt><span style="color: #ff0000;"><em><strong>Exceedingly scalable.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Some of the busiest sites on the web leverage Django&rsquo;s ability to quickly and flexibly scale.</strong></em></span></p>
<p>&nbsp;</p>
<p><span style="color: #ff0000;"><em><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile" /></strong></em></span></p>
</dd>
</dl>
{{ flatpage.content }}
{{ flatpage.content }}
{% endblock content %}

<!DOCTYPE html>
<h1><span style="text-decoration: underline;">Meet Django</span></h1>
<p><span style="color: #ff0000;"><em><strong>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It&rsquo;s free and open source.</strong></em></span></p>
<dl class="list-features">
<dt><span style="color: #ff0000;"><em><strong>Ridiculously fast.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Django was designed to help developers take applications from concept to completion as quickly as possible.</strong></em></span></p>
</dd>
<dt><span style="color: #ff0000;"><em><strong>Reassuringly secure.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Django takes security seriously and helps developers avoid many common security mistakes.</strong></em></span></p>
</dd>
<dt><span style="color: #ff0000;"><em><strong>Exceedingly scalable.</strong></em></span></dt>
<dd>
<p><span style="color: #ff0000;"><em><strong>Some of the busiest sites on the web leverage Django&rsquo;s ability to quickly and flexibly scale.</strong></em></span></p>
<p>&nbsp;</p>
<p><span style="color: #ff0000;"><em><strong><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-smile.gif" alt="smile" /></strong></em></span></p>
</dd>
</dl>